<html>
<head>
        <title>inbox</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
    <body style="background-color:#F6F8F9;">
    <table style="width: 100%;border: solid green;">
            <tr>
                <td>
                    <!-- Parent -->
                     <table style="width: 100%;border: solid green;background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <!-- header -->
                                    <table style="width: 100%;border: solid rosybrown;">
                                        <!-- header -->
                                        <tr>
                                            <td style="border: solid green;width:88%;">
                                            <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                            </td>
                                            <td style="border: solid yellowgreen;width:3%;">
                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                            </td>
                                            <td style="border: solid brown;width:7%;">
                                                <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>

                                            </td>
                                            <td style="border: solid blue;width:2%;">
                                                <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                            </td>
                                        </tr>
                                        
                                </table>
                            </td>
                        </tr>

                    </table>
                    
                </td>
            </tr>

            <tr>
                <td></br>
                    <!-- parent -->
                    <table style="width: 100%;border: solid green;background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <!-- main content -->
                                    <table style="width: 100%;border: solid palevioletred">
                                        <tr>
                                            <td>
                                                <!-- content -->
                                                    <table style="width: 100%;border: solid palevioletred">
                                                        <tr>
                                                            <td style="width: 5%;border: solid skyblue">
                                                                <!-- left -->
                                                                <table style="width: 100%;border: solid palevioletred">
                                                                    <!-- left -->
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue;background-color:#245070">
                                                                                        <img src="../icons/request-icons-18.png" alt="back" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue;">
                                                                                        <img src="../icons/request-icons-19.png" alt="home" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue">
                                                                                        <img src="../icons/request-icons-20.png" alt="home" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue">
                                                                                        <img src="../icons/request-icons-21.png" alt="home" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue">
                                                                                        <img src="../icons/request-icons-22.png" alt="home" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 10%;border: solid skyblue">
                                                                                        <img src="../icons/request-icons-23.png" alt="home" height="17" width="23"/>
                                                                                    </td>
                                                                                </tr>
                                                                                
                                                                            </table>
                                                            </td>
                                                            <td style="width: 95%;border: solid skyblue">
                                                                <!-- right -->
                                                                <table style="border: solid #245070;width: 100%;">
                                                                        <!-- request view -->
                                                                        <tr>
                                                                            <td style="border: solid pink;width: 100%;">
                                                                                <p>REQUEST VIEW</p>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula.</p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>


                                                                    <table style="border: solid #245070;width: 15%;">
                                                                            <!-- top2 -->
                                                                            <tr>
                                                                                <td style="border: solid pink;width: 7%;">
                                                                                    <button type="submit" style="color: #FFFFFF;background-color: #245070;padding: 10% 18% 10% 18%;border-radius: 7px;">PUBLIC</button>
                                                                                </td>
                                                                                <td style="border: solid pink;width: 7%;">
                                                                                    <button type="submit" style="color: #245070;background-color: #FFFFFF;padding: 10% 18% 10% 18%;border-radius: 7px;">PRIVATE</button>
                                                                                </td>
                                                                            </tr>
                                                                        </table>



                                                                        <table style="border: solid pink;width: 100%;">
                                                                                <!-- top3 -->
                                                                                <tr>
                                                                                    <td style="border: solid #e06500;width: 2%;">
                                                                                        <img src="../icons/profile.png" alt="profile" height="54" width="54"style="border-radius:24px;float:right"/>
                                                                                    </td>
                                                                                    <td style="border: solid #e06500;width: 1%;">
                                                                                        <span style="height: 11px;width: 11px;background-color: #FF0000; border-radius: 50%;display: inline-block;border:1px solid #FF0000"></span>
                                                                                    </td>
                                                                                    <td style="width:94%;border: solid #e06500;">
                                                                                        <span>Anurag Basu</span><br>
                                                                                        <span>Lorem ipsum doler sit amet.</span><br>                    
                                                                                    </td>
                                                                                    <td style="border: solid #e06500;width: 2%;">
                                                                                        <img src="../icons/request-icons-05.png" alt="dropdownimg" height="5" width="9"style="border-radius:24px;"/>
                                                                                    </td>
                                                                                </tr>
                                                                            
                                                                                <tr>
                                                                                    <td style="border: solid #e06500;width: 2%;">
                                                                                        <img src="../icons/profile.png" alt="profile" height="54" width="54"style="border-radius:24px;float:right"/>
                                                                                    </td>
                                                                                    <td style="border: solid #e06500;width: 1%;">
                                                                                        <span style="height: 11px;width: 11px;background-color: #FF0000; border-radius: 50%;display: inline-block;border:1px solid #FF0000"></span>
                                                                                    </td>
                                                                                    <td style="width:94%;border: solid #e06500;">
                                                                                        <span>Sameera Rautela</span><br>
                                                                                        <span>Lorem ipsum doler sit amet.</span><br>                    
                                                                                    </td>
                                                                                    <td style="border: solid #e06500;width: 2%;">
                                                                                        <img src="../icons/request-icons-16.png" alt="dropdownimg" height="5" width="9"style="border-radius:24px;"/>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>

                                                                            <table style="border: solid #245070;width: 80%;">
                                                                                    <!-- top4 -->
                                                                                    <tr>
                                                                                        <td style="border: solid #522470;width: 100%;">
                                                                                            <span>You</span><br>
                                                                                            <span>Now</span><br>  
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="border: solid #522470;width: 100%;">
                                                                                        
                                                                                            <textarea  rows="5" cols="90" style="border: #595959 1px solid;resize: none;"></textarea></br>
                                                                                            <button type="submit" style="color: white;background-color: #32BDD2;padding:1% 2% 1% 2%;border-radius: 24px;">SUBMIT</button>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>

                                                                                <table style="border: solid #32BDD2;width: 100%;">
                                                                                        <!-- top5 -->
                                                                                        <tr>
                                                                                            <td style="border: solid pink;width: 2%;">
                                                                                                <span style="height: 11px;width: 11px;background-color: #FF0000; border-radius: 50%;display: inline-block;border:1px solid #FF0000"></span>
                                                                                            </td>
                                                                                            <td style="border: solid pink;width: 96%;">
                                                                                                <span>Sameera Rautela</span><br>
                                                                                                <span>28th Jun 2018 11:47 AM</span><br>
                                                                                            </td>
                                                                                        </tr>
                                                                                    
                                                                                        <tr>
                                                                                            <td style="border: solid pink;width: 2%;">
                                                                                                <span style="height: 90px;width: 8px;background-color: #32BDD2;display: inline-block;border:1px solid #32BDD2"></span>
                                                                                            </td>
                                                                                            <td style="border: solid pink;width: 96%;">
                                                                                                <p style="width: 70%;">
                                                                                                    Integer porta tellus a lectus volutpat volutpat. Fusce ac fringilla justo, sed iaculis purus. In laoreet non est vel euismod. 
                                                                                                    Ut gravida pretium justo id pretium. Aliquam elementum pellentesque lectus. Nulla odio elit, feugiat non ultrices ut, condimentum ac augue. 
                                                                                                    Vivamus consectetur posuere dui at consectetur. Nam neque lacus, luctus eget dapibus a, pellentesque ut quam. Duis et tristique tellus.
                                                                                                     Ut sed mauris nec purus convallis venenatis non at sem. Donec a purus porta, suscipit lacus consectetur, varius nisi.
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>

                                                                                    <table style="border: solid #32BDD2;width: 100%;">
                                                                                            <!-- top6 -->
                                                                                            <tr>
                                                                                                <td style="border: solid pink;width: 2%;">
                                                                                                    <!-- <span style="height: 11px;width: 11px;background-color: #FF0000; border-radius: 50%;display: inline-block;border:1px solid #FF0000"></span> -->
                                                                                                </td>
                                                                                                <td style="border: solid pink;width: 96%;">
                                                                                                    <span>You</span><br>
                                                                                                    <span>27th Jun 2018 03:29 PM</span><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                        
                                                                                            <tr>
                                                                                                <td style="border: solid pink;width: 2%;">
                                                                                                    <span style="height: 70px;width: 8px;background-color: #747474;display: inline-block;border:1px solid #747474;"></span>
                                                                                                </td>
                                                                                                <td style="border: solid pink;width: 96%;">
                                                                                                    <p style="width: 70%;">
                                                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ex semper, faucibus diam a, ultrices nulla. Sed ex augue,
                                                                                                         feugiat sagittis pulvinar euismod, finibus vel justo. In fermentum auctor nisl nec ullamcorper. Sed odio nisi, pellentesque sed sapien ornare, 
                                                                                                        luctus consequat dolor. Donec lacus massa, eleifend vitae fringilla sit amet, sodales in massa. Fusce varius et quam sit amet condimentum.
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>


                                                                                        <table style="border: solid #32BDD2;width: 100%;">
                                                                                                <!-- top7 -->
                                                                                                <tr>
                                                                                                    <td style="border: solid pink;width: 2%;">
                                                                                                        <!-- <span style="height: 11px;width: 11px;background-color: #FF0000; border-radius: 50%;display: inline-block;border:1px solid #FF0000"></span> -->
                                                                                                    </td>
                                                                                                    <td style="border: solid pink;width: 96%;">
                                                                                                        <span>Sameera Rautela</span><br>
                                                                                                        <span>26th Jun 2018 10:18 AM</span><br>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            
                                                                                                <tr>
                                                                                                    <td style="border: solid pink;width: 2%;">
                                                                                                        <span style="height: 90px;width: 8px;background-color: #32BDD2;display: inline-block;border:1px solid #32BDD2"></span>
                                                                                                    </td>
                                                                                                    <td style="border: solid pink;width: 96%;">
                                                                                                        <p style="width: 70%;">
                                                                                                            Vestibulum nec feugiat justo. Ut dapibus et orci at gravida. Phasellus lacinia posuere nisi vel interdum. 
                                                                                                            Morbi nec nisl a urna lacinia dapibus in in dui. Maecenas sit amet laoreet nulla. Donec dignissim magna odio, vitae eleifend turpis accumsan eget.
                                                                                                             Donec aliquet pretium finibus. Donec quis sem dictum, molestie sapien ut, semper diam. Mauris non lobortis magna, ut dictum enim. Vivamus vel felis maximus, dignissim risus id, 
                                                                                                            mattis risus. Sed et scelerisque tortor. Proin in elementum nunc, sit amet suscipit odio. Donec tempus non dolor ac aliquet. In ornare mi quis consequat viverra.
                                                                                                        </p>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>


                                                                                            <table>
                                                                                                    <!-- top 8 -->
                                                                                                    <tr>
                                                                                                        <td style="border: solid #e06500;width: 2%;">
                                                                                                            <img src="../icons/profile.png" alt="profile" height="54" width="54"style="border-radius:24px;float:right"/>
                                                                                                        </td>
                                                                                                        <td style="width:94%;border: solid #e06500;">
                                                                                                            <span><b>Urvashi Banerjee</b></span><br>
                                                                                                            <span>Lorem ipsum doler sit amet.</span><br>                    
                                                                                                        </td>
                                                                                                        <td style="border: solid #e06500;width: 2%;">
                                                                                                            <img src="../icons/request-icons-05.png" alt="dropdownimg" height="5" width="9"style="border-radius:24px;"/>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="border: solid #e06500;width: 2%;">
                                                                                                            <img src="../icons/profile.png" alt="profile" height="54" width="54"style="border-radius:24px;float:right"/>
                                                                                                        </td>
                                                                                                        <td style="width:94%;border: solid #e06500;">
                                                                                                            <span><b>Urvashi Banerjee</b></span><br>
                                                                                                            <span>Lorem ipsum doler sit amet.</span><br>                    
                                                                                                        </td>
                                                                                                        <td style="border: solid #e06500;width: 2%;">
                                                                                                            <img src="../icons/request-icons-05.png" alt="dropdownimg" height="5" width="9"style="border-radius:24px;"/>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                            
                                                                <!-- right bottom -->
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            

        </table>


    </br></br>


</br></br>

    </body>
</html>