<html>
        <head>
                <title>Login-Page-Field-required</title>
                <head>
                        <style>
                            *{
                                margin: 0px;
                                padding: 0px;
                                box-sizing: border-box;
                            }
                        </style>
                    </head>
            </head>
            
    <body>
        <table style="width: 100%;margin: auto;padding: 5%;">
            <tr>
                <td>
                    
                    <table style="width: 100%;border-radius: 2%;padding: 10%;box-shadow: 1px 1px 5px 2px #888888;border:solid white;">
                        <tr>
                            <td style="padding-left: 26%;">
                            <p><u>LOGIN</u></p>
                            </td>
                            
                        </tr>
                        <tr>
                            <td style="padding-left: 26%;padding-top: 3%;">
                               <p>Email or username</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 26%;">
                                <input type="text" style="width: 80%;border-radius: 2%"/>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 26%;">
                                <img src="../icons/request-icons-07.png" alt="field" height="10" width="10">
                                <span style="color:red;font-size:12px">this field is required</span>
                            </td>
                        </tr>
                        
                        <tr>
                                <td style="padding-left: 26%;padding-top: 3%;">
                                   <p>Password</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 26%;">
                                    <input type="text"  style="width: 80%;border-radius: 2%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 26%;">
                                    <img src="../icons/request-icons-07.png" alt="field" height="10" width="10">
                                    <span style="color:red;font-size:12px">this field is required</span>
                                </td>
                            </tr>
                        
                             <tr>
                                <td style="padding-left: 26%;padding-top: 1%;">
                                        <input type="checkbox" value="Remember me">Remember me
                                        <span style="padding-left:55%;"><u>Forgot Password</u></span>
                                </td>
                            </tr>
                       
            
                   
                            <tr>
                                <td style="padding-left: 26%;padding-top: 3%;">
                                        <button type="submit" style="color: white;background-color: skyblue;width: 15%;padding: 1%;">Login</button>

                                </td>
                        
                        
                            </tr>
                        </table>
                </td>
            </tr>

        </table>
       
    </body>
</html>