<html>
        <head>
                <title>forgot password</title>
                <style>
                    *{
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }
                </style>
            </head>
    <body>
        <table style="width: 100%;background-color:#00000067;padding:18% 0% 19% 30%;">
            <tr>
                <td>
                   
                    <table style="width: 50%;background-color:#FFFFFF;border-radius:12px;box-shadow: 0px 0px 25px #0000004D;padding:5% 0% 7% 3%">
                            <tr>
                                <td>
                                    <span style="font-family:roboto;font-size:12px;letter-spacing:1.6px;color:#595959;"><b>FORGOT PASSWORD</b></span><br>
                                    <span style="height: 3px;width: 25%;background-color:#707070;display: inline-block;"></span> 
                                </td>
                               
                               
                            </tr>
                            <tr>
                                     <td style="font-family:gibson;font-size:12px;letter-spacing:0.6px;color:#747474;padding-top:5%;">
                                        <span>The link has been sent to your email. </span><br>
                                        <span>The generated link will be active for 24 hours.</span>

                                    </td>
                            </tr>

                    </table>
                </td>
            </tr>

        </table>


   
       
    </body>
</html>