<html>
<head>
        <title>Requisition form</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
    <body style="background-color:#F6F8F9;">
         <table style="width: 100%;border: solid yellowgreen;">
            <tr>
                <td>
                    <!-- Parent -->
                     <table style="width: 100%;background-color:#FFFFFF;border: solid gold;">
                        <tr>
                            <td>
                                <!-- header -->
                                    <table style="width: 100%;border: solid rosybrown;">
                                        <!-- header -->
                                        <tr>
                                            <td style="border: solid green;width:88%;">
                                            <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                            </td>
                                            <td style="border: solid yellowgreen;width:3%;">
                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                            </td>
                                            <td style="border: solid brown;width:7%;">
                                                <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>

                                            </td>
                                            <td style="border: solid blue;width:2%;">
                                                <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                            </td>
                                        </tr>
                                        
                                </table>
                            </td>
                        </tr>

                    </table>
                    
                </td>
            </tr>

            <tr>
                <td></br>
                    <!-- par/ent -->
                    <table style="width: 100%;background-color:#FFFFFF;border: solid pink;">
                        <tr>
                            <td>
                                <!-- main content -->
                                    <table style="width: 100%;border: solid palevioletred">
                                        <tr>
                                            <td>
                                                <!-- content -->
                                                    <table style="width: 100%;border: solid palevioletred">
                                                        <tr>
                                                            <td style="width: 5%;border: solid skyblue">
                                                                <!-- left -->
                                                                 <table style="width:100%;background-color:#FFFFFF;border: solid palevioletred">
                                                                        <!-- left -->
                                                                            <tr>
                                                                            
                                                                                <td style="width:10%;height: 150px;line-height: 8px;padding-left:15%;;text-align: center;border: solid skyblue"> 
                                                                                    <p style="font-family:roboto;font-size:14px;letter-spacing:2.8px;color:#000000; margin-left: -85px;position: absolute;width: 215px;
                                                                                        transform: rotate(-90deg);-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);
                                                                                        -o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);">REQUISITION</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width:10%;padding-left:15%;border: solid skyblue">
                                                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">1</span>
                                                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">2</span>
                                                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">3</span>
                                                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">4</span>
                                                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">5</span>
                                                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                        <span class="step" style=" background:#32BDD2;
                                                                                        border:2px solid #D3D3D3;border-radius: 1em;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 27px;text-align: center;width: 27px;  height:27px;
                                                                                        font-size:12px;">6</span>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                            </td>
                                                            <td style="width: 95%;border: solid skyblue">
                                                                <!-- right -->
                                                                 <table style="width: 100%;border: solid palevioletred">
                                                                    <tr>
                                                                        <td style="width: 100%;border: solid palevioletred">
                                                                            <p>ACKNOWLEDGEMENT</p></br></br>
                                                                            <p>Your request has been registered.</p></br></br>
                                                                            <p style="width:80%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula
                                                                            , tortor ipsum faucibus nunc, id aliquam lacus odio nec magna. Cras a ipsum placerat, efficitur nibh sed, iaculis elit. Mauris semper tempor facilisis.</p>
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            

        </table>





    </body>
</html>