<!DOCTYPE html>
<html>

<head>
    <title>
        Add Item
    </title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background: #00000067;">
    <table style="width:100%">
        <tr>
            <td style="border:1px solid red; background: white;">
                <table style="width:100%">
                    <tr>
                        <td style="border:1px solid green; background: white;">
                            <table style="width:100%">
                                <tr>
                                    <td style="border:1px solid orange; ">
                                         <p style="font-family:roboto;font-size:20px;letter-spacing:1px;color:#5A5A5A;">Add Item</p><br>

                                    </td>
                                    <td style="border:1px solid orange; ">
                                         <img src="../icons/request-icons-13.png" alt="close" height="13" width="13"style="float:right;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="border:1px solid greenyellow; ">
                                       <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">DESCRIPTION</p>
                                        <textarea style="resize:none;border-radius:4px" rows="6" cols="60">
                                    </textarea>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="border:1px solid greenyellow; ">
                                       <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">QTY</p>
                                   <input type="text" style="width:15%;padding:.5%">
                                    </td>

                                </tr>
                                <tr>
                                    <td style="border:1px solid greenyellow; ">
                                        <p>Fullfillment</p>
                                        <input type="text" id="fullfillment">
                                    </td>

                                </tr>
                                <table style="width:100%">
                                    <tr>
                                        <td style="border:1px solid green; background: white;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="border:1px solid orange; ">
                                                        <span>Add Item</span>
                                                    </td>
                                                    <td style="border:1px solid orange; ">
                                                        <img src="" alt="CancelButton" width="24px" height="24px">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="border:1px solid greenyellow; ">
                                                        <p>Description</p>
                                                        <input type="text" id="description">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="border:1px solid greenyellow; ">
                                                        <p>QTY</p>
                                                        <input type="text" id="qty">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="border:1px solid greenyellow; ">
                                                        <p>Fullfillment</p>
                                                        <input type="text" id="fullfillment">
                                                        <p>Approx price</p>
                                                        <input type="text" id="price">
                                                    </td>

                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:1px solid green; background: white;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="border:1px solid blue; ">
                                                        <span>Cancel</span>
                                                    </td>
                                                    <td style="border:1px solid blue; ">
                                                        <input type="button" name="DONE" id="DONE" value="DONE">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                            </table>
                        </td>
                    </tr>
                </table>


</body>

</html>