<html>
<head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
    <body style="background-color:#F6F8F9;">
        <table style="width: 100%;;">
            <tr>
                <td>
                    <!-- Parent -->
                    <table style="width: 100%;background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <!-- header -->
                                 <table style="width: 100%;padding:1%;box-shadow: 0px 0px 4px #00000029;background-color:#FFFFFF">
                                        <tr>
                                            <td style=";width:88%;">
                                            <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                            </td>
                                            <td style="width:3%;">
                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                            </td>
                                            <td style="width:7%;">
                                                <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>

                                            </td>
                                            <td style="width:2%;">
                                                <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                            </td>
                                        </tr>
                                        
                                </table>
                                            
                            </td>
                        </tr>

                    </table>
                    
                </td>
            </tr>
            <tr>
                <td></br>
                    <!-- Parent -->
                    <table style="width: 100%;background-color:#FFFFFF">
                        <tr>
                            <td>
                                <!-- main content -->
                                <table style="width: 100%;background-color:#FFFFFF;">
                                    <tr>
                                        <td style="width: 5%;">
                                            <!-- left -->
                                                <table style="width:100%;background-color:#FFFFFF;padding-bottom: 50%;margin-bottom: 300%;">
                                                <!-- left -->
                                                    <tr>
                                                    
                                                        <td style="width:10%;height: 150px;line-height: 8px;padding-left:15%;;text-align: center;"> 
                                                            <p style="font-family:roboto;font-size:14px;letter-spacing:2.8px;color:#000000; margin-left: -85px;position: absolute;width: 215px;
                                                                transform: rotate(-90deg);-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);
                                                                -o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);">REQUISITION</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:10%;padding-left:25%;">
                                                                <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                text-align: center;width: 27px;  height:27px;font-size:12px;">1</span>
                                                                <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                <span class="step" style=" background:#32BDD2;
                                                                border:2px solid #D3D3D3;border-radius: 1em;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 27px;text-align: center;width: 27px;  height:27px;
                                                                font-size:12px;">2</span>
                                                                <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                text-align: center;width: 27px;  height:27px;font-size:12px;">3</span>
                                                                <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                text-align: center;width: 27px;  height:27px;font-size:12px;">4</span>
                                                                <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                text-align: center;width: 27px;  height:27px;font-size:12px;">5</span>
                                                                <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                text-align: center;width: 27px;  height:27px;font-size:12px;">6</span>
                                                        </td>
                                                    </tr>
                                                </table>


                                        </td>
                                        <td style="width: 95%;padding:2%;">
                                            <!-- right --></br>

                                                <table style="width: 100%;border: solid #F0F0F0;background-color:#F0F0F0;">
                                                    <tr>
                                                        <td style="width: 85%;padding: 1%;">
                                                            <p>ITEMS</p>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>ADD ITEMS</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-10.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                </table> 


                                                <table style="width: 100%;border: solid #F0F0F0;background-color:#FFFFFF;">
                                                    <tr>
                                                        <td style="width: 65%;padding: 1%;"></br>
                                                            <p>IBM ThinkServer TS150 Tower Server With  </p>
                                                            <p>Max. Processor 1 x Intel Xeon E3 (Quad</p>
                                                            <p>Core) E3-1225 v5"(3.3 GHz /Cache 8 MB)</p></br>
                                                            <p>READ MORE</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                            <p>01</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>10 Jul 2019</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>Rs. 45, 000</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-11.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 65%;padding: 1%;"></br>
                                                            <p>Lenovo ThinkServer TS450</p>
                                                            <p>(PN:70M2001VIH) With Max. Processor 1</p>
                                                            <p> x Intel Xeon E3 (Quad Core) E3-1225</p></br>
                                                            <p>READ MORE</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                            <p>02</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>10 Jul 2019</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>Rs. 45, 000</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-11.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 65%;padding: 1%;"></br>
                                                            <p>IBM X3300M4 Server With x3300M4/ Part</p>
                                                            <p>NO:7382IA4/ Intel Xeon E5 1230v2 1.8</p>
                                                            <p>GHz,10 MB,1066MHz/ 1x 8GB RAM/</p></br>
                                                            <p>READ MORE</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                            <p>01</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>10 Jul 2019</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>Rs. 45, 000</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-11.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td style=";width: 65%;padding: 1%;"></br>
                                                            <p>IBM X3300M4 Server With x3300M4/ Part</p>
                                                            <p>NO:7382IA4/ Intel Xeon E5 1230v2 1.8</p>
                                                            <p>GHz,10 MB,1066MHz/ 1x 8GB RAM/</p></br>
                                                            <p>READ MORE</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                            <p>01</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>10 Jul 2019</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>Rs. 45, 000</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-11.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>

                                                    <tr>
                                                        <td style=";width: 65%;padding: 1%;"></br>
                                                            <p>daptec 128 MB Raid Controller Pair. Pci-e </p>
                                                            <p>SAS/SATA</p>
                                                            
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                            <p>01</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>10 Jul 2019</p>
                                                        </td>
                                                        <td style="width: 10%;padding: 1%;">
                                                            <p>Rs. 45, 000</p>
                                                        </td>
                                                        <td style="width: 5%;padding: 1%;">
                                                        <img src="../icons/request-icons-11.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                        </td>
                                                        
                                                    </tr>

                                            </table>   


                                             <table style="width:100%;background-color:#FFFFFF;">
                                                <tr></br></br></br></br>
                                                    <td style="width: 80%;padding: 1%;">
                                                        <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#5A5A5A;">SAVE DRAFT</SPAN><br>
                                                    <span style="height: 2px;width: 8%;background-color: #5A5A5A;display: inline-block;"></span>

                                                    </td>

                                                    <td style="width: 10%;padding: 1%;">
                                                        <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#32BDD2;">BACK</SPAN><br>
                                                    <span style="height: 2px;width: 25%;background-color: #32BDD2;display: inline-block;"></span>

                                                    </td>

                                                    <td style="width: 10%;">
                                                        <button type="submit" style="color: white;background-color: #32BDD2;padding: 2% 4% 2% 5%;border-radius: 24px;">NEXT -></button>

                                                    </td>
                                                </tr>   
                                                                                        
                                            </table>


                                        </td>
                                    </tr>
                                    
                                </table>
                                
                            </td>
                        </tr>

                    </table>
                    
                </td>

            </tr>

        </table>


    </body>
</html>