*{
    padding: 0;
    margin: 0%;
    
}
body{
    padding: 2%;
    background-color: #00000067;
}
.main{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5%;
    margin: auto;
    margin-top: 15%;   
    /* height: 10%; */
    width: 20%;     
    box-shadow: 1px 2px 2px 2px #7f7f7f;
}
legand{
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
    text-decoration-line: underline;
    margin-bottom: 10px;
    }
#fieldset{
    border: 0px;
    margin: auto;    
}
.user-statment{
    margin: auto;
}
.statement{
    font-family: Gibson;
    font-size: 12px;
    letter-spacing: 0.6px;
}
