*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.header{
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu{
    width: 91%;
}
.profile{
    width: 2%;
}
.profile-name{
    margin-left: 1%;
    width: 5%;
}
.dropdownimg{
    width: 2%;
}
.content{
    padding: 2%;
}
.contents{
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
}
.myrequests{
    width: 100%;
    display: flex;
    justify-content: center;
}
.myrequest-txt{
    padding: 8px;
    width:30%;
    justify-content: center;
}
.undeline{
    height: 5px;
    width: 15%;
    background-color: #32BDD2;
    display: inline-block;
}
.search{
    border:1px solid #595959;
    width: 40%;
    border-radius: 24px;
    justify-content: center;
    padding: 1%;
    /* padding: .5%; */
}