<html>
<head>
 <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            /* background-color:#00000067; */
        }
    </style>
</head>
    <body>
        <table  style="width: 100%;border: solid green;background-color:#FFFFFF;padding:5% 5% 5% 5%;">
            <tr>
                <td>
                    <table style="width:100%;border: solid yellow;">
                        <tr>
                            <td>

                                 <table style="width: 100%;border: solid palevioletred">
                                    <tr>
                                        <td style="width: 70%;border: solid blue">
                                            <p style="font-family:roboto;font-size:20px;letter-spacing:1px;color:#5A5A5A;">Add Item</p><br>

                                        </td>
                                        <td style="width: 30%;border: solid blue">
                                            <img src="../icons/request-icons-13.png" alt="close" height="13" width="13"style="float:right;">
                                        </td>
                                    </tr>
                                    
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                        <table style="width: 100%;border: solid rosybrown;">
                                                <tr>
                                                    <td style="width: 100%;border: solid blue;">
                                                        <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">DESCRIPTION</p></br>
                                                        <textarea style="resize:none;border-radius:4px" rows="6" cols="60">
                                                        </textarea>

                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td style="width: 100%;border: solid blue;">
                                                    <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">QTY</p></br>
                                                    <input type="text" style="width:15%;padding:.5%">
                                                    </td>
                                                    
                                                </tr>

                                                

                                                <tr>
                                                        <td style="width: 100%;border: solid blue;">
                                                            <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">FULLFILLMENT DUE DATE</p></br>
                                                            
                                                        </td>
                                                </tr>

                                                <tr>

                                                    

                                                    <td style="width: 500%;border: solid blue;">

                                                            <table style="width: 100%;epadding:2% 2% 2% 2%;border: solid palevioletred">
                                                            
                                                                <tr>
                                                                    <td style="width: 20%;border: solid blue">
                                                                        <input type="text" style="width:75%;padding:2%">

                                                                    </td>
                                                                    <td style="width: 80%;border: solid blue">
                                                                    <img src="../icons/request-icons-17.png" alt="close" height="30" width="35"></td>
                                                                    </td>
                                                                </tr>
                                                                
                                                            </table>

                                                    </td>
                                                    
                                                </tr>

                                                <tr>
                                                    <td style="width: 100%;border: solid blue;">
                                                        <p style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#747474;">APPROXIMATE PRICE</p>
                                                        <input type="text" style="width:15%;padding:.5%">
                                                    </td>
                                                    
                                                </tr>

                                        </table>



                            </td>
                        </tr>
                        <tr>
                            <td>


                                          <table style="width: 100%;border: solid palevioletred">
                                                <tr>
                                                    <td style="width: 70%;border: solid blue">
                                                        <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#5A5A5A;">CANCEL</SPAN><br>
                                                    <span style="height: 2px;width: 5%;background-color: #5A5A5A;display: inline-block;"></span>

                                                    </td>
                                                    <td style="width: 30%;border: solid blue">
                                                        <button type="submit" style="color: white;background-color: #32BDD2;padding: 2% 4% 2% 5%;border-radius: 24px;float:right">DONE</button>

                                                    </td>
                                                </tr>
                                                
                                            
                                            </table>


                            </td>
                        </tr>
                    </table>
                   
                </td>
            </tr>

        </table>

        


   
       


         

                    

    </body>
</html>