<html>
        <head>
                <title>FORGOT-PASSWORD-FIELD-REQUIRED</title>
                <link rel="stylesheet" type="text/css" href="login.css">
            </head>
            
    <body>
        <table style="width: 100%;margin: auto;padding: 5%;">
            <tr>
                <td>
                    
                    <table style="width: 100%;border-radius: 2%;padding: 10%;box-shadow: 1px 1px 5px 2px #888888;border:solid white;">
                        <tr>
                            <td style="padding-left: 25%;">
                            <p><u><b>FORGOT PASSWORD</b></u></p>
                            </td>
                            
                        </tr>
                        <tr>
                            <td style="padding-left: 25%;font-size:15px;padding-top:1%;">
                            <span>Lorem ipsum dolor sit amet, consectetr adpsicing elit.</span><br>
                            <span>Mauris mattis,tortor sit amet tempor vehicula.</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 25%;padding-top: 3%;">
                               <p>Email</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25%;">
                                <input type="text" style="width: 50%;border-radius: 2%"/>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 25%;">
                                <img src="../icons/request-icons-07.png" alt="Smiley face" height="10" width="10">
                                <span style="color:red;font-size:12px">this field is required</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25%;">
                                <img src="../icons/request-icons-07.png" alt="Smiley face" height="10" width="10">
                                <span style="color:red;font-size:12px">this email is not registered with us</span>
                            </td>
                        </tr>
                         
                       
            
                   
                            <tr>
                                <td style="padding-left: 25%;padding-top: 3%;">
                                        <button type="submit" style="color: white;background-color: skyblue;width: 15%;padding: 1%;">CONTINUE</button>

                                </td>
                        
                        
                            </tr>
                        </table>
                </td>
            </tr>

        </table>

       
       
    </body>
</html>