<html>
<head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
    <body style="background-color:#F6F8F9;">
    <table style="width: 100%;border: solid green;">
            <tr>
                <td>
                    <!-- Parent -->
                     <table style="width: 100%;border: solid green;">
                        <tr>
                            <td>
                                <!-- header -->
                                    <table style="width: 100%;border: solid rosybrown;">
                                        <!-- header -->
                                        <tr>
                                            <td style="border: solid green;width:88%;">
                                            <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                            </td>
                                            <td style="border: solid yellowgreen;width:3%;">
                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                            </td>
                                            <td style="border: solid brown;width:7%;">
                                                <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>

                                            </td>
                                            <td style="border: solid blue;width:2%;">
                                                <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                            </td>
                                        </tr>
                                        
                                </table>
                            </td>
                        </tr>

                    </table>
                    
                </td>
            </tr>

            <tr>
                <td></br>
                    parent
                    <table style="width: 100%;border: solid green;">
                        <tr>
                            <td>
                                main content
                                    <table style="width: 100%;border: solid palevioletred">
                                        <tr>
                                            <td>
                                                content
                                                    <table style="width: 100%;border: solid palevioletred">
                                                        <tr>
                                                            <td style="width: 5%;border: solid skyblue">
                                                                left
                                                            </td>
                                                            <td style="width: 95%;border: solid skyblue">
                                                                right
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            

        </table>


    </body>
</html>