<html>
    <body style="background-color:#F6F8F9">
        <table style="width: 100%;">
            <tr>
                <td>
                    
                    <table style="width: 100%;padding:1%;box-shadow: 0px 0px 4px #00000029;background-color:#FFFFFF">
                            <tr>
                                <td>
                                      <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>

                                </td>
                                <td style="width: 5%;">
                                     <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>

                                </td>
                                <td style="width: 5%;">
                                     <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>
                                </td>
                                <td style="width: 2%;">
                                      <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">

                                </td>
                            </tr>
                     </table>
                </td>
            </tr>

            <tr>
                <td style="padding:2% 1% 0% 1%;">
                                 <table style="width: 100%;box-shadow: 1px 1px 5px 2px #00000029;">
                                    <tr>
                                        <td>
                                            <table style="width: 100%;padding:1.5%;background-color:#FFFFFF">
                                                <tr>
                                                        <td style="width:30%">
                                                            
                                                            <span>My Reuests</span> <br>
                                                             <span style="height: 5px;width: 15%;background-color: #32BDD2;display: inline-block;"></span> 
                                                        </td>
                                    
                                                        <td style="border:1px solid #595959;width: 40%;border-radius: 24px;padding: .5%;">
                                                            <span style="color:#909090;font-family: roboto;font-size: 14px;letter-spacing: 0.6px;margin-left: 3%;">Search</span>
                                                            <img src="../icons/request-icons-03.png" alt="FILTER" height="20" width="20" style="float: right;margin-right: 2%;"> 
                                                        </td>
                                                        <td>
                                                            <button type="submit" style="color: white;background-color: #32BDD2;padding: 2%;border-radius: 24px;float:right;width: :30%;">NEW REQUEST</button>

                                                        </td>
                                                    </tr>

                                             </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-top:1%">
                                            <table style="width: 100%;background-color:#FFFFFF;padding:1%">
                                                <tr>
                                                    <td style="width:3%;">
                                                        <img src="../icons/request-icons-01.png" alt="FILTER" height="45" width="40"style="float:right">
                                                    </td>
                                                    <td>
                                                        <span>FILTER</span><br>
                                                        <span style="font-size:10px"><b>Showing approved reqests</b></span>
                                                    </td>
                                                </tr>
                                            
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-top:.1%">
                                            <table style="width: 100%;background-color:#FFFFFF;padding:1.5%">
                                                <tr>
                                                    <td >
                                                        <p>PUR-2019-056</p>
                                                        <span>Submitted on</span><br>
                                                        <span>06 jul 2019</span><br>                    
                                                    </td>
                                                    <td>
                                                    <img src="../icons/request-icons-14.png" alt="notification" height="50" width="50"style="padding-left:40%">
                                                    </td>
                                                    <td>
                                                        <span style="float:right">APPROVED</span>
                                                        <!-- <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;float:right"></span> -->
                                                    </td>
                                                    <td style="width: 2%;">
                                                        <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;"></span>

                                                    </td>

                                                    
                                                </tr>
                                                
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td >
                                            <table style="width: 100%;background-color:#FFFFFF;padding:1.5%">
                                                <tr>
                                                    <td>
                                                        <p>PUR-2019-056</p>
                                                        <span>Submitted on</span><br>
                                                        <span>06 jul 2019</span><br>                    
                                                    </td>
                                                    <td>
                                                    <img src="../icons/request-icons-14.png" alt="notification" height="50" width="50"style="padding-left:40%">
                                                    </td>
                                                    <td>
                                                        <span style="float:right">APPROVED</span>
                                                        <!-- <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;float:right"></span> -->
                                                    </td>
                                                    <td style="width: 2%;">
                                                        <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;"></span>

                                                    </td>

                                                </tr>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    


                                     <tr>
                                        <td>
                                            <table style="width: 100%;background-color:#FFFFFF;padding:1.5%">
                                                <tr>
                                                    <td>
                                                        <p>PUR-2019-056</p>
                                                        <span>Last saved on</span><br>
                                                        <span>06 jul 2019</span><br>                    
                                                    </td>
                                                    <td>
                                                    <img src="../icons/request-icons-14.png" alt="notification" height="50" width="50"style="padding-left:40%">
                                                    </td>
                                                    <td>
                                                        <span style="float:right">APPROVED</span>
                                                        <!-- <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;float:right"></span> -->
                                                    </td>
                                                    <td style="width: 2%;">
                                                        <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;"></span>

                                                    </td>

                                                </tr>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    

                                     <tr>
                                        <td>
                                            <table style="width: 100%;background-color:#FFFFFF;padding:1.5%">
                                                <tr>
                                                    <td>
                                                        <p>PUR-2019-056</p>
                                                        <span>Submitted on</span><br>
                                                        <span>20 Jun 2019</span><br>                    
                                                    </td>
                                                    <td>
                                                        <img src="../icons/request-icons-14.png" alt="notification" height="50" width="50"style="padding-left:40%">
                                                    </td>
                                                    <td>
                                                        <span style="float:right">APPROVED</span>
                                                    </td>
                                                    <td style="width: 2%;">
                                                        <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;"></span>

                                                    </td>

                                                </tr>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    


                                     <tr>
                                        <td>
                                             <table style="width: 100%;background-color:#FFFFFF;padding:1.5%">
                                                <tr>
                                                    <td style="width:54%;">
                                                       <span style="float:right">SHOW MORE</span>
                                                       
                  
                                                    </td>
                                                    <td style="width:46%">
                                                        <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                                    </td>
                                                   
                                                    
                                                </tr>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    
                                </table>
                </td>
            </tr>

        </table>


   
       

        

        
    </body>
</html>