<html>
    <body>
        <table style="width: 100%;border: solid green;">
            <tr>
                <td>
                    Parent
                    <table style="width: 100%;border: solid rosybrown;">
                            <tr>
                                <td style="border: solid green;">
                                    burger menu.
                                </td>
                                <td style="border: solid yellowgreen;">
                                    profile
                                </td>
                                <td style="border: solid brown;">
                                    profile name
                                </td>
                                <td style="border: solid blue;">
                                    profile name
                                </td>
                            </tr>
                     </table>
                </td>
            </tr>

            <tr>
                <td style="border: solid brown;padding:2% 8% 0% 8%">
                                 <table style="width: 100%;border: solid yellowgreen;">
                                    <tr>
                                        <td style="border: solid gray;">
                                            <table style="width: 100%;border: solid palevioletred;">
                                                <tr>
                                                        <td style="border: solid blue;">
                                                            <p>My Reuests</p>   
                                                        </td>
                                    
                                                        <td style="border: solid blue;">
                                                                <input type="text" style="width: 100%;border-radius: 24px;padding:1%" placeholder="Search"/>   
                                                        </td>
                                                        <td style="border: solid blue;">
                                                            <button type="submit" style="color: white;background-color: skyblue;padding: 2%;border-radius: 24px;float:right">NEW REQUEST</button>

                                                        </td>
                                                    </tr>

                                             </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: solid gray;">
                                            <table style="width: 100%;border: solid palevioletred;">
                                                <tr>
                                                    <td style="border: solid blue;width:4%">
                                                        <img src="../icons/request-icons-01.png" alt="Smiley face" height="45" width="40">
                                                    </td>
                                                    <td style="border: solid blue;">
                                                        <span>FILTER</span><br>
                                                        <span style="font-size:10px"><b>Showing approved reqests</b></span>
                                                    </td>
                                                </tr>
                                            
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: solid gray;">
                                            content
                                        </td>
                                    </tr>


                                    <tr>
                                        <td style="border: solid gray;">
                                            content
                                        </td>
                                    </tr>
                                    
                                </table>
                </td>
            </tr>

        </table>


   
        <table style="width: 100%;border: solid palevioletred">
            <tr>
                <td style="border: solid blue;align:center;">
                    <p>PUR-2019-056</p>
                    <span>Submitted on</span><br>
                    <span>06 jul 2019</span><br>                    
                </td>
                 <td style="border: solid blue;">
                   <img src="../icons/request-icons-14.png" alt="Smiley face" height="50" width="50">
                </td>
                 <td style="border: solid blue;">
                    <span>APPROVED</span>
                    <span style="height: 11px;width: 11px;background-color: #24D081; border-radius: 50%;display: inline-block;"></span>
                </td>
                
            </tr>
            
        </table>




        

        
    </body>
</html>