<html>
<head>
    <style>
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    </style>
</head>
        
<body style="background-color:#F6F8F9;">
    <table style="width:100%;border:solid green;background-color:#FFFFFF;">
        <tr>
            <td>
                parent
                <table style="width:100%;border: solid pink;background-color:#FFFFFF;">
                    <tr>
                        <td style="width:100%;border: 1px solid skyblue">
                                head
                            <table style="width:100%;border: solid blue">
                                <tr>
                                    <td style="width:88%;border: 1px solid pink">
                                        <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                    </td>
                                    <td style="width:3%;border: 1px solid pink">
                                        <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                    </td>
                                    <td style="width:7%;border: 1px solid pink">
                                        <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>
                                    </td>
                                    <td style="width:2%;border: 1px solid pink">
                                        <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                    </td>
                                </tr>
                        </table>


                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border: 1px solid skyblue">
                                content
                            <table style="width:100%;border:solid pink;background-color:#FFFFFF;">
                                <tr>
                                    <td style="width:5%;border: 1px solid skyblue">
                                        left
                                        <table style="width:100%;border:solid pink;background-color:#FFFFFF;">
                                            <tr>
                                                <td style="width:10%;border: 1px solid skyblue;height: 150px;line-height: 8px;padding-left:15%;;text-align: center;">
                                                    <p style="font-family:roboto;font-size:14px;letter-spacing:2.8px;color:#000000; margin-left: -85px;position: absolute;width: 215px;
                                                        transform: rotate(-90deg);-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);
                                                        -o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);">REQUISITION</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:10%;border: 1px solid skyblue;padding-left:30%;">
                                                    <span class="step" style=" background:#32BDD2;
                                                        border:2px solid #D3D3D3;border-radius: 1em;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 27px;text-align: center;width: 27px;  height:27px;
                                                        font-size:12px;">1</span>
                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                        <span class="step2" style=" background: #FFFFFF;border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">2</span>
                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">3</span>
                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">4</span>
                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">5</span>
                                                        <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                        <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                        text-align: center;width: 27px;  height:27px;font-size:12px;">6</span>
                                                </td>
                                            </tr>
                                    </table>


                                    </td>
                                    <td style="width:90%;border: 1px solid skyblue">
                                        right
                                        <table style="width:100%;border:solid pink;background-color:#FFFFFF;">
                                            <tr>
                                                <td style="width:100%;border: 1px solid skyblue">
                                                <p style="font-family:roboto;font-size:14px;letter-spacing:1.4px;color:#000000;"><b>NOTE</b></p>
                                                    <p style="font-family:Gibson;font-size:12px;letter-spacing:0.6px;color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, 
                                                    tortor sit amet tempor vehicula.</p></br>
                                                    <textarea style="resize:none;border-radius:4px" rows="6" cols="60">
                                                    </textarea></br></br>
                                                    <p style="font-family:roboto;font-size:14px;letter-spacing:1.4px;color:#000000;"><b>REQUEST TYPE</b></p>
                                                    <p style="font-family:Gibson;font-size:12px;letter-spacing:0.6px;color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, 
                                                    tortor sit amet tempor vehicula.</p></br>    
                                                    <input type="radio" name="gender" value="male"> <span style="font-family:Gibson;font-size:12px;letter-spacing:0.6px;color:#000000;">SELF</span></br></br> 
                                                    <input type="radio" name="gender" value="male"> <span style="font-family:Gibson;font-size:12px;letter-spacing:0.6px;color:#000000;">TEAM / DEPARTMENT / BRANCH</span></br></br>
                                                    <input type="radio" name="gender" value="male"> <span style="font-family:Gibson;font-size:12px;letter-spacing:0.6px;color:#000000;">SOMEONE ELSE</span></br></br> 
                                    

                                                </td>    
                                            </tr>

                                        </table>

                                        <table style="width:100%;border:solid pink;background-color:#FFFFFF;">
                                            <tr>
                                                <td style="width: 70%;border:1px solid blue">
                                                    <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#5A5A5A;">CANCEL</SPAN><br>
                                                <span style="height: 2px;width: 5%;background-color: #5A5A5A;display: inline-block;"></span>

                                                </td>
                                                <td style="width: 30%;border:1px solid blue">
                                                    <button type="submit" style="color: white;background-color: #32BDD2;padding: 2% 4% 2% 5%;border-radius: 24px;float:right">DONE</button>

                                                </td>
                                            </tr>   
                                                                                    
                                        </table>



                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>








<br><br>



<br><br>



<br><br>


 

<br><br>




<br><br>


    
    

<br><br>


 


</body>
</html>