<html>
    <head>
        <style>
            *{
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <table style="width: 100%;border: solid green;">
            <tr>
                <td>
                    <!-- Parent -->
                     <table style="width: 100%;border: solid green;">
                        <tr>
                            <td>
                                <!-- header -->
                                    <table style="width: 100%;border: solid rosybrown;">
                                        <!-- header -->
                                        <tr>
                                            <td style="border: solid green;width:88%;">
                                            <img src="../icons/request-icons-02.png" alt="menu" height="17" width="23"/>
                                            </td>
                                            <td style="border: solid yellowgreen;width:3%;">
                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                            </td>
                                            <td style="border: solid brown;width:7%;">
                                                <span style="font-family:roboto;font-size:12px;letter-spacing:0.9px;color:#595959;">John Doe</span><br>

                                            </td>
                                            <td style="border: solid blue;width:2%;">
                                                <img src="../icons/request-icons-05.png" alt="dropdownimg" height="8" width="10">
                                            </td>
                                        </tr>
                                        
                                </table>
                            </td>
                        </tr>

                    </table>
                    
                </td>
            </tr>

            <tr>
                <td></br>
                    <!-- parent -->
                    <table style="width: 100%;border: solid green;">
                        <tr>
                            <td>
                                <!-- main content -->
                                    <table style="width: 100%;border: solid palevioletred">
                                        <tr>
                                            <td>
                                                <!-- content -->
                                                    <table style="width: 100%;border: solid palevioletred">
                                                        <tr>
                                                            <td style="width: 5%;border: solid skyblue">
                                                                <!-- left -->
                                                                <table style="width:100%;background-color:#FFFFFF;border: solid palevioletred">
                                                                    <!-- left -->
                                                                        <tr>
                                                                        
                                                                            <td style="width:10%;height: 150px;line-height: 8px;padding-left:15%;;text-align: center;border: solid skyblue"> 
                                                                                <p style="font-family:roboto;font-size:14px;letter-spacing:2.8px;color:#000000; margin-left: -85px;position: absolute;width: 215px;
                                                                                    transform: rotate(-90deg);-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);
                                                                                    -o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);">REQUISITION</p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width:10%;padding-left:15%;border: solid skyblue">
                                                                                    <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                    text-align: center;width: 27px;  height:27px;font-size:12px;">1</span>
                                                                                    <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                    <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                    text-align: center;width: 27px;  height:27px;font-size:12px;">2</span>
                                                                                    <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                    <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                    text-align: center;width: 27px;  height:27px;font-size:12px;">3</span>
                                                                                    <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                    <span class="step" style=" background:#32BDD2;
                                                                                    border:2px solid #D3D3D3;border-radius: 1em;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 27px;text-align: center;width: 27px;  height:27px;
                                                                                    font-size:12px;">4</span>
                                                                                    <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                    <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                    text-align: center;width: 27px;  height:27px;font-size:12px;">5</span>
                                                                                    <div style="border-left:1px dashed #D3D3D3;height:38px;margin-left:12px;"></div>
                                                                                    <span class="step" style=" background: #FFFFFF; border:2px solid #D3D3D3;border-radius: 1em;color: #D3D3D3;display: inline-block;font-weight: bold;line-height: 27px;
                                                                                    text-align: center;width: 27px;  height:27px;font-size:12px;">6</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                            </td>
                                                            <td style="width: 95%;border: solid skyblue">
                                                                <!-- right -->
                                                                    <table style="width: 100%;border: solid rosybrown;background-color:#F0F0F0;">
                                                                    <!-- right top -->
                                                                        <tr>
                                                                            <td style="border: solid green;width: 80%">
                                                                                <p>INVITE PEOPLE</p>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                            </td>
                                                                            <td style="border: solid yellowgreen;width: 15%">
                                                                                <p>ADD PEOPLE</p>
                                                                            </td>
                                                                            <td style="border: solid brown;width: 5%">
                                                                            <img src="../icons/request-icons-10.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        
                                                                    </table> 
                                                                    <!-- right contentent -->
                                                                    <table style="width: 50%;border: solid rosybrown;background-color:#F0F0F0;"></br></br></br></br>
                                                                        <tr>
                                                                            <td style="border: solid green;width: 5%">
                                                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                                                            </td>
                                                                            <td style="border: solid yellowgreen;width: 40%">
                                                                                <p>Luke Ray</p>
                                                                                <p>Lorem ipsum dolor sit amet,</p>
                                                                            </td>
                                                                            <td style="border: solid brown;width: 5%">
                                                                            <img src="../icons/request-icons-24.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        
                                                                    </table> 
                                                                    <table style="width: 50%;border: solid rosybrown;background-color:#F0F0F0;">
                                                                        <tr>
                                                                            <td style="border: solid green;width: 5%">
                                                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                                                            </td>
                                                                            <td style="border: solid yellowgreen;width: 40%">
                                                                                <p>Daisy Lake</p>
                                                                                <p>Lorem ipsum dolor sit amet,</p>
                                                                            </td>
                                                                            <td style="border: solid brown;width: 5%">
                                                                            <img src="../icons/request-icons-24.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        
                                                                    </table> 
                                                                    <table style="width: 50%;border: solid rosybrown;background-color:#F0F0F0;">
                                                                        <tr>
                                                                            <td style="border: solid green;width: 5%">
                                                                                <img src="../icons/profile.png" alt="profile" height="25" width="25"style="border-radius:24px;float:right"/>
                                                                            </td>
                                                                            <td style="border: solid yellowgreen;width: 40%">
                                                                                <p>Mark Smith</p>
                                                                                <p>Lorem ipsum dolor sit amet,</p>
                                                                            </td>
                                                                            <td style="border: solid brown;width: 5%">
                                                                            <img src="../icons/request-icons-24.png" alt="profile" height="25" width="25"style="border-radius:24px;"/>

                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        
                                                                    </table> 

                                                                    <table style="width:100%;background-color:#FFFFFF;border: solid brown;"></br></br></br></br>
                                                                        <tr>
                                                                            <td style="width: 80%;border: solid yellowgreen;">
                                                                                <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#5A5A5A;">SAVE DRAFT</SPAN><br>
                                                                            <span style="height: 2px;width: 7%;background-color: #5A5A5A;display: inline-block;"></span>

                                                                            </td>

                                                                            <td style="width: 10%;border: solid yellowgreen;">
                                                                                <span style="font-family:roboto;font-size:14px;letter-spacing:0.7px;color:#32BDD2;">BACK</SPAN><br>
                                                                            <span style="height: 2px;width: 25%;background-color: #32BDD2;display: inline-block;"></span>

                                                                            </td>

                                                                            <td style="width: 10%;border: solid yellowgreen;">
                                                                                <button type="submit" style="color: white;background-color: #32BDD2;padding: 2% 4% 2% 5%;border-radius: 24px;">NEXT -></button>

                                                                            </td>
                                                                        </tr>   
                                                                                                                
                                                                    </table>




                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>

        </table>
    
    
    </body>
</html>